<h1>Listing achievements</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>description</th>
      <th>point</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @achievements.each do |achievement| %>
      <tr>
        <td><%= achievement.title %></td>
        <td><%= achievement.description %></td>
        <td><%= achievement.point.value %></td>

        <td><%= link_to 'Show', achievement %></td>
        <td><%= link_to 'Edit', edit_achievement_path(achievement) %></td>
        <td><%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Achievement', new_achievement_path %>
